*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  background-color: #A9171E;
}

header{
  text-align: center;
  padding: 40px;
}

main{
  padding-bottom: 55px;
  background-position-y: 30%;
  background-image: url(https://www.pngkey.com/png/full/804-8040843_notebook-book-knowledge-pen-png-and-vector-image.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: bottom;
}

.container {
  width: 55%;
  margin: auto;
  padding: 15px 0;
  background-color: rgba(93, 16, 18, 0.4);
  margin-bottom: 50px;
}

.list-container{
  width: 55%;
  margin: auto;
}

.input-container{
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* ELEMENTS */

ol{
  position: relative
}

li{
  padding: 10px 0;
  font-size: 20px;
  color: white;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

i{
  padding: 0 10px;
  font-weight: bold;
  color: red;
  text-shadow: 2px 2px 4px rgba(255, 0, 0, 0.5);
  cursor: pointer;
}

input{
  padding: 3px 5px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  width: 400px;
  margin-bottom: 25px
}

input:focus{
  outline-color: #DC3C4D;
}

button{
  background-color: #B69D8D;
  color: #000;
  font-size: 16px;
  padding: 8px 12px;
  border: none;
  border-radius: 40px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

button:focus{
  outline: none;
}

/* TYPO */

h1{
  color: #DC3C4D;
  text-shadow: 2px 2px 3px rgba(40, 0, 0, 0.5);
  font-size: 45px
}

/* EFFECTS */

@keyframes slideright {
  0% {
    position:absolute;
    left: -20%;
  }

  100% {
    position: absolute;
    left: 0;
  }
}

ol li:nth-child(5){
  animation: slideright 0.4s linear;
}

.animated{
  animation: slideright 0.4s linear;
}
