<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> _TO DO_ </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <link rel="stylesheet" href="css/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">
</head>

<body>


  <div id="root">
    <header>
      <h1>To Do List - Sponsored by VUE JS</h1>
    </header>
    <main>
      <div class="container">
        <div class="list-container">
          <ol v-if= "list.length > 0">
            <li v-for= "(item, index) in list">{{item}}<span><i @click= "deleteIt(index)" class="far fa-times-circle"></i></span></li>
          </ol>
        </div>
      </div>
    </main>

  </div>


  <script src="js/script.js" charset="utf-8"></script>
</body>
</html>
